@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(102, 0, 102);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubbl1{
    width: 35%;
    position: absolute;
    margin-left: -45%;
    margin-top: 20%;
}
.bubbl2{
    width: 45%;
    position: absolute;
}
.bubbl3{ 
    width: 23%;
    position: absolute;
    margin-left: 32%;
    margin-top: -24%;
}
p{
    font-family: 'Lato', sans-serif;
    position: absolute;
    color: white;
    font-style: 900;
    font-size: 50px;
}