body{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style-position: inside;
    padding: 10px;
    margin: 35px;
    background-color: rgb(214, 122, 148);
}
span{    
    padding: 10px;
    background-color: rgb(192, 50, 93);
}
ol{
    margin: 50px;
    padding: 20px 30px 20px 30px;
    background-color: rgb(241, 200, 209);
}