body{
    margin: 20px;
    background-color: rgb(219, 219, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol{
    font-weight: bold;
}
span{
    font-weight: normal;
    color: rgb(76, 76, 161);
}
