@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backgr{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.picture{
    width: 100%;
    height: 100vh;
    position: absolute;
}
p{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
}