body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: 1fr 10fr;    
}
.myBoards{
    padding: 1em;
    background-color: rgb(34, 151, 151);
    color: white;
    font-weight: bold;
    font-size: 3vh; 
}
.content{
    background-color: rgb(40, 182, 182);
    overflow: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30%;
    align-items: center;
}
.content>div{
    background-color: rgb(219, 219, 219);
    margin: 20px;
    height: 95%;
    border-radius: 1%;
    overflow: auto;
    display: grid;
    justify-items: center;
}
.toDo{
    grid-template-rows: 40px 130px 140px 130px;
}
.inProgress{
    grid-template-rows: 40px 130px 130px 130px 130px 130px;
}
.test{
    grid-template-rows: 40px 130px 130px 130px;
}
.fix{
    grid-template-rows: 40px 130px 130px 130px;
}
.done{
    grid-template-rows: 40px 130px 130px 130px;
}
.content>div>div{
    background-color: rgb(248, 246, 246);
    width: 90%;
    margin: 5px;
    border-radius: 2%;
    color: rgb(68, 68, 68);
}
.content>div>span{
    font-weight: bold;
    margin: 15px;
}
.flex1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
img{
    width: 2vh;
    height: 2vh;
}
.avatar{
    width: 15%;
    height: 15%;
}
p{
    margin: 20px 20px 0 20px;
}


