body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
}
.user1{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-end;
    text-align: end;
}
.anie1{
    width: 100%;
    height: 90px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.anie2{
    width: 60%;
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.anie3{
    width: 60%;
    height: 90px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.chat{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.user2{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: start;
}
.jack1{
    width: 80%;
    height: 90px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.jack2{
    width: 80%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.jack3{
    width: 80%;
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.message1{
    width: 90%;
    height: 100px;
    background-color: rgb(245, 161, 175);
    border-radius: 20px 20px 20px 0;
}
.message2{
    width: 90%;
    height: 90px;
    background-color: rgb(151, 202, 216);
    border-radius: 20px 20px 0 20px;
}
.message3{
    width: 90%;
    height: 90px;
    background-color: rgb(245, 161, 175);
    border-radius: 20px 20px 20px 0;
}
.message4{
    width: 90%;
    height: 110px;
    background-color: rgb(151, 202, 216);
    border-radius: 20px 20px 0 20px;
}
.message5{
    width: 90%;
    height: 110px;
    background-color: rgb(245, 161, 175);
    border-radius: 20px 20px 20px 0;
}
.message6{
    width: 90%;
    height: 90px;
    background-color: rgb(151, 202, 216);
    border-radius: 20px 20px 0 20px;
}
p{
    margin: 20px;
    color: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
}


