body{
    background-color: rgb(240, 240, 240);
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:nth-child(odd) {
    background-color: rgb(176, 187, 211);
}
li:nth-child(even) {
    background-color: rgb(192, 204, 235);
}
#checked{
    background-color: whitesmoke;
    list-style-image: url(../img/checked_16.png);
 }
 #unchecked{
    list-style-image: url(../img/unchecked_16.png);
 }
 li{
     padding: 20px;
     list-style-position: inside;
 }
 span{
     margin: 0 20px 0 25px;
 }
