body{
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(66, 66, 66);
    background-color: rgb(228, 228, 228);
}
.main{
    margin-top: 50px;
}
dt{
    margin-bottom: 20px;
}
.light{
    color: rgb(156, 154, 154);
}
.blue{
    color: rgb(32, 32, 150);
}